{% extends "layout.html" %}
{% block body %}

<html>
	<body>
		<div class="heading">
			<h1>AutoQC Webpage!</h1>
			<h2>Automatic Quality Control System for Automatic Weather Stations</h2>
			<p> <strong>Project initiated on 9/1/2019.</strong> </p>
			<p> <strong>Author</strong>: Li Lok Hang </p>
		</div>

		<div class="spec">
			<p> Please choose a station and element to view: </p>
		    <p> <strong>Station id</strong>: </p>
		    <p> <strong>Element name</strong>: </p>
		</div>

    </body>
</html>

{% endblock %}